documents/n8n-flow-hotmart-carrinho-abandonado.json
{
  "name": "Hotmart - Carrinho Abandonado → Firebase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotmart-carrinho-abandonado",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-hotmart",
      "name": "Webhook Hotmart",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "hotmart-carrinho-abandonado"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "email",
              "value": "={{ $json.body.data.buyer.email }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "telefone",
              "value": "={{ $json.body.data.buyer.phone || '' }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "nome",
              "value": "={{ $json.body.data.buyer.name || '' }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "produto_id",
              "value": "={{ $json.body.data.product.id }}",
              "type": "number"
            },
            {
              "id": "5",
              "name": "produto_nome",
              "value": "={{ $json.body.data.product.name }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "plataforma",
              "value": "hotmart",
              "type": "string"
            },
            {
              "id": "7",
              "name": "data_abandono",
              "value": "={{ new Date($json.body.creation_date).toISOString() }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "status",
              "value": "pendente",
              "type": "string"
            },
            {
              "id": "9",
              "name": "status_atualizado_em",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "10",
              "name": "offer_code",
              "value": "={{ $json.body.data.offer?.code || '' }}",
              "type": "string"
            },
            {
              "id": "11",
              "name": "hotmart_event_id",
              "value": "={{ $json.body.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-campos",
      "name": "Formatar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "SEU_PROJECT_ID",
          "mode": "list",
          "cachedResultName": "SEU_PROJECT_ID"
        },
        "database": "(default)",
        "collection": "carrinhos_abandonados",
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "firestore-save",
      "name": "Salvar no Firestore",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 2,
      "position": [690, 300],
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "SUA_CREDENCIAL_ID",
          "name": "Firebase Firestore"
        }
      }
    }
  ],
  "connections": {
    "Webhook Hotmart": {
      "main": [
        [
          {
            "node": "Formatar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Dados": {
      "main": [
        [
          {
            "node": "Salvar no Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "pinData": {}
}
